body{
    margin:0%;
}
img{
    width:50px;
}
#checkbox{
    display: none;
}
#checkbox:checked+.container{
    transform: translateX(300px) translateY(0px)
    
}
.container{
    width:300px;
    height:520px;
    background-color: rgb(164, 149, 160);
    position: absolute;
    left:-300px;
    transition:all 1s ease-in;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
}
h1{
    margin: 35px;
    /*border: 1px solid;*/
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 10px;
}
.h1:hover{
   background-color: lightcoral;
   color: white;
}
.h2:hover{
    background-color: lightcoral;
    color: white;
}
.h3:hover{
    background-color:lightcoral;
    color: white;
} 
.h4:hover{
    background-color: lightcoral;
    color: white;
}
.h5:hover{
    background-color: lightcoral;
    color: white;
}
img:hover{
    transform: scale(1.2);
    filter: brightness(30%);
}
